---
layout: default
---
  <body>
<div class="navbar">
    <div class="navbar-nav">
        <a href="/" class="nav-item">[ Home ] </a>
        <a href="/blog/" class="nav-item"> [ Blog ] </a>
        <a href="/about/" class="nav-item"> [ About ]</a>
    </div>
</div>
    <h1>{{ page.title }}</h1>
    <p>By {{ page.author | default: site.author }} - {{ page.date | date: "%B %-d %Y"}}</p>
    <section>
      {{ content }}
      <br><br><br><br>
    </section>
<div class="navbar">
    <div class="navbar-brand">Ortwind</div>
    <div class="navbar-nav">
        <a href="/" class="nav-item">[ Home ] </a>
        <a href="/blog/" class="nav-item"> [ Blog ] </a>
        <a href="/about/" class="nav-item"> [ About ]</a>
    </div>
</div>

    <footer> 
      &copy; {{ page.date | date: "%Y"}} - {{ page.author | default: site.author }}
    </footer>
  </body>
